@import '../../styles/variables';
@import '../../styles/swagger';
@import '../../styles/tabs';

.documentation {
  .va-api-api-overview {
    h2 {
      font-size: 2rem;
    }
  }

  .va-api-alert-box {
    h3 {
      margin: 0!important;
    }
    p {
      margin: 0;
    }
  }
}
